<mat-toolbar class="flex justify-between" color="primary">
    <div class="flex flex-row items-center" *ngIf="userService.userValue">
      <button mat-icon-button (click)="openSidenav()">
        <mat-icon>menu</mat-icon>
      </button>
      <div class="text-2xl">Bank Application</div>
    </div>
    <!-- <span class="mx-auto"></span> -->
    <div *ngIf="userService.userValue">
        <button mat-icon-button (click)="openUsernav()">
            <mat-icon>person</mat-icon>
        </button>
    </div>
    
  </mat-toolbar> 


  